[user]
	email = code.kchoi@gmail.com
	name = choikwa

[alias]
  rekt = push
  up = push
  down = pull
  st = status
  sf = add -u -v    ;stage files
  cm = commit -a -m ;stage and commit affected, tracked files, needs msg
[push]
	default = simple
