[user]
  email = code.kchoi@gmail.com
  name = choikwa

[alias]
  hist = log --pretty=format:\"%Cblue%h %<(21,trunc)%ai %Cred%an,%ae %Cgreen%s\n%b\" --graph --name-status
  rekt = push
  up = push
  down = pull
  st = status --column
  sf = add -u -v    ;stage files
  cm = commit -a -m ;stage and commit affected, tracked files, needs msg
  ls = ls-files
  br = branch -vv
  rem = remote -vv
  ch = checkout
[push]
  default = upstream
[core]
	editor = vim
